/*--PALETA DE COLORES---*/
/*--MIXIN---*/
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
.catalogo__contenedor-1 h4 {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.catalogo__contenedor-1 img {
  display: flex;
  align-items: first baseline; }

.catalogo__contenedor-1 a {
  display: flex;
  justify-content: center; }

.catalogo__contenedor-2 h4 {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.catalogo__contenedor-2 img {
  display: flex;
  align-items: first baseline; }

.catalogo__contenedor-2 a {
  display: flex;
  justify-content: center; }

.catalogo__contenedor-3 h4 {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.catalogo__contenedor-3 img {
  display: flex;
  align-items: first baseline; }

.catalogo__contenedor-3 a {
  display: flex;
  justify-content: center; }

.catalogo__contenedor-4 h4 {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.catalogo__contenedor-4 img {
  display: flex;
  align-items: first baseline; }

.catalogo__contenedor-4 a {
  display: flex;
  justify-content: center; }

.catalogo__contenedor-5 h4 {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.catalogo__contenedor-5 img {
  display: flex;
  align-items: first baseline; }

.catalogo__contenedor-5 a {
  display: flex;
  justify-content: center; }

.catalogo__contenedor-6 h4 {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.catalogo__contenedor-6 img {
  display: flex;
  align-items: first baseline; }

.catalogo__contenedor-6 a {
  display: flex;
  justify-content: center; }

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid {
  width: 100%;
  margin: 0 auto;
  /*HABILITO GRILLA*/
  display: grid;
  /*DECLARO FILAS Y COLUMNAS*/
  grid-template-rows: 80px 550px 210px 90px;
  grid-template-columns: repeat(3, 1fr);
  /*DECLARO AEREAS*/
  grid-template-areas: "nav nav nav" "header header aside" "main main main" "footer footer footer"; }

@keyframes titulo {
  from {
    margin-right: 100%;
    width: 300%; }
  to {
    margin-right: 0;
    width: 100%; } }

.hero {
  grid-area: header;
  background-color: #d5dada;
  text-align: center; }

.main {
  grid-area: main;
  background-color: #d5dada;
  width: 100%;
  height: 220px;
  margin: 0; }

.footer {
  grid-area: footer;
  background-color: #d5dada;
  width: 100%;
  height: 400px;
  margin: 0; }

.grid {
  width: 100%;
  height: 250px; }
  .grid .encabezado {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    width: 600;
    font-style: semibold;
    padding: 10px;
    background-color: #d5dada;
    text-align: center;
    grid-area: nav; }
    .grid .encabezado .encabezado__lista li {
      display: inline;
      margin: 20px 10px 20px 10px; }
      .grid .encabezado .encabezado__lista li a {
        text-decoration: none;
        color: black; }

.hero .frente {
  text-align: center;
  width: 100%;
  height: 320px; }
  .hero .frente img {
    width: 90%;
    height: 320px; }

.hero .ferre .ferre__titulo h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 10px; }

.hero .ferre .ferre__titulo h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 10px; }

.hero .ferre .ferre__titulo p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 10px; }

.aside {
  grid-area: aside;
  background-color: #d5dada; }
  .aside img {
    width: 100%;
    height: 500px; }

.carro {
  width: 100%;
  height: 200px; }

.carousel-inner {
  width: 100%;
  height: 200px;
  border: 2px black solid;
  border-radius: 5px; }

.carousel-item img {
  width: 100%;
  height: 180px;
  justify-items: center; }

.footer .piedepagina {
  background-color: #d5dada;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.footer .piedepagina__titulo h2 {
  background-color: #d5dada;
  font-family: 'Montserrat', sans-serif;
  font-style: semibold;
  text-align: center; }

.footer a:hover {
  transform: scale(1.1); }

.footer .tarjetas img {
  width: 100%;
  height: 150px;
  background-color: #d5dada; }

.footer .navegacion {
  font-family: "Montserrat", sans-serif;
  width: 100;
  padding: 14px;
  background-color: #d5dada;
  text-align: center; }
  .footer .navegacion .navegacion__lista li {
    list-style: none;
    display: inline;
    margin: 20px 10px 20px 10px;
    padding: 2px;
    background-color: #d5dada; }
    .footer .navegacion .navegacion__lista li a {
      color: black;
      padding: 2px;
      text-decoration: none;
      text-align: center; }

.encabezado {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  padding: 5px;
  width: 100%;
  height: 80px;
  background-color: #d5dada;
  text-align: center; }
  .encabezado h1 {
    animation-name: titulo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: initial; }
  .encabezado .encabezado__lista li {
    display: inline;
    margin: 10px 10px 10px 10px; }
    .encabezado .encabezado__lista li a {
      text-decoration: none;
      color: black; }
  .encabezado .frente__productos img {
    width: 100%;
    height: 200px; }

.navbar {
  text-align: center;
  padding: 20px;
  background-color: #d5dada; }
  .navbar .container-fluid .form-control {
    border: 2px solid black;
    border-radius: 5px; }
  .navbar .container-fluid .btn {
    border: 2px solid black;
    border-radius: 5px; }

main section h3 {
  width: 100%;
  text-align: center;
  background-color: #d5dada; }

main .catalogo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d5dada; }

main .catalogo__contenedor-1 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__contenedor-1:hover {
    transform: scale(1.1); }
  main .catalogo__contenedor-1 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__contenedor-1 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__contenedor-1 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__contenedor-2 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__contenedor-2:hover {
    transform: scale(1.1); }
  main .catalogo__contenedor-2 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__contenedor-2 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__contenedor-2 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__contenedor-3 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__contenedor-3:hover {
    transform: scale(1.1); }
  main .catalogo__contenedor-3 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__contenedor-3 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__contenedor-3 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__contenedor-4 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__contenedor-4:hover {
    transform: scale(1.1); }
  main .catalogo__contenedor-4 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__contenedor-4 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__contenedor-4 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__contenedor-5 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__contenedor-5:hover {
    transform: scale(1.1); }
  main .catalogo__contenedor-5 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__contenedor-5 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__contenedor-5 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__contenedor-6 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__contenedor-6:hover {
    transform: scale(1.1); }
  main .catalogo__contenedor-6 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__contenedor-6 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__contenedor-6 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

.footerProductos .piedepaginaProductos {
  background-color: #d5dada;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around; }
  .footerProductos .piedepaginaProductos a:hover {
    transform: scale(1.1); }

.footerProductos .tarjetas-credito h2 {
  background-color: #d5dada;
  font-family: 'Montserrat', sans-serif;
  font-style: semibold;
  text-align: center; }

.footerProductos .tarjetas-credito img {
  width: 100%;
  height: 150px;
  background-color: #d5dada; }

.footerProductos .navegacionProductos {
  font-family: "Montserrat", sans-serif;
  width: 100;
  padding: 14px;
  background-color: #d5dada;
  text-align: center; }
  .footerProductos .navegacionProductos .navegacion__lista li {
    list-style: none;
    display: inline;
    margin: 20px 10px 20px 10px;
    padding: 2px;
    background-color: #d5dada; }
    .footerProductos .navegacionProductos .navegacion__lista li a {
      color: black;
      padding: 2px;
      text-decoration: none;
      text-align: center; }

.encabezadoFerre {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  padding: 5px;
  width: 100%;
  height: 80px;
  background-color: #d5dada;
  text-align: center; }
  .encabezadoFerre h1 {
    animation-name: titulo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: initial; }
  .encabezadoFerre .encabezado__lista li {
    display: inline;
    margin: 10px 10px 10px 10px; }
    .encabezadoFerre .encabezado__lista li a {
      text-decoration: none;
      color: black; }
  .encabezadoFerre .frente__productos img {
    width: 100%;
    height: 200px; }

.navbarFerre {
  text-align: center;
  padding: 20px;
  background-color: #d5dada; }
  .navbarFerre .container-fluid .form-control {
    border: 2px solid black;
    border-radius: 5px; }
  .navbarFerre .container-fluid .btn {
    border: 2px solid black;
    border-radius: 5px; }

main section h3 {
  width: 100%;
  text-align: center;
  background-color: #d5dada; }

main .catalogoFerre {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d5dada; }

main .catalogo__ferre-1 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-1:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-1 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-1 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-1 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-2 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-2:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-2 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-2 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-2 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-3 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-3:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-3 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-3 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-3 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-4 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-4:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-4 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-4 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-4 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-5 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-5:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-5 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-5 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-5 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-6 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-6:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-6 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-6 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-6 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-7 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-7:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-7 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-7 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-7 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-8 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-8:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-8 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-8 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-8 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-9 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-9:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-9 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-9 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-9 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-10 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-10:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-10 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-10 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-10 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-11 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-11:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-11 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-11 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-11 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

main .catalogo__ferre-12 {
  width: 300px;
  height: 255px;
  margin: 20px;
  background-color: #d5dada;
  -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
  main .catalogo__ferre-12:hover {
    transform: scale(1.1); }
  main .catalogo__ferre-12 h4 {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ce8a37;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  main .catalogo__ferre-12 img {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: first baseline; }
  main .catalogo__ferre-12 a {
    width: 100%;
    height: 40px;
    background-color: #ce8a37;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center; }

.footerFerre .piedepaginaFerre {
  background-color: #d5dada;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around; }
  .footerFerre .piedepaginaFerre a:hover {
    transform: scale(1.1); }

.footerFerre .tarjetas-credito h2 {
  background-color: #d5dada;
  font-family: 'Montserrat', sans-serif;
  font-style: semibold;
  text-align: center; }

.footerFerre .tarjetas-credito img {
  width: 100%;
  height: 150px;
  background-color: #d5dada; }

.footerFerre .navegacionFerre {
  font-family: "Montserrat", sans-serif;
  width: 100;
  padding: 14px;
  background-color: #d5dada;
  text-align: center; }
  .footerFerre .navegacionFerre .navegacion__lista li {
    list-style: none;
    display: inline;
    margin: 20px 10px 20px 10px;
    padding: 2px;
    background-color: #d5dada; }
    .footerFerre .navegacionFerre .navegacion__lista li a {
      color: black;
      padding: 2px;
      text-decoration: none;
      text-align: center; }

header .encabezado__nosotros {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  width: 600;
  font-style: semibold;
  padding: 10px;
  background-color: #d5dada;
  text-align: center; }
  header .encabezado__nosotros h1 {
    animation-name: titulo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: initial; }

@keyframes titulo {
  from {
    margin-right: 100%;
    width: 300%; }
  to {
    margin-right: 0;
    width: 100%; } }
  header .encabezado__nosotros .encabezado__lista li {
    display: inline;
    margin: 20px 10px 20px 10px; }
    header .encabezado__nosotros .encabezado__lista li a {
      text-decoration: none;
      color: black; }

header .frente__productos {
  background-color: #d5dada;
  text-align: center; }
  header .frente__productos img {
    width: 200px;
    height: 200px; }

.nosotros {
  background-color: #d5dada;
  font-family: 'Montserrat', sans-serif;
  font-style: semibold;
  text-align: center; }

.footer__acerca .piedepagina__acerca {
  background-color: #d5dada;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.footer__acerca a:hover {
  transform: scale(1.1); }

.footer__acerca .tarjetas-credito h2 {
  background-color: #d5dada;
  font-family: 'Montserrat', sans-serif;
  font-style: semibold;
  text-align: center; }

.footer__acerca .tarjetas-credito img {
  width: 100%;
  height: 150px;
  background-color: #d5dada; }

.footer__acerca .navegacion__acerca {
  font-family: "Montserrat", sans-serif;
  width: 100;
  padding: 14px;
  background-color: #d5dada;
  text-align: center; }
  .footer__acerca .navegacion__acerca .navegacion__lista li {
    list-style: none;
    display: inline;
    margin: 20px 10px 20px 10px;
    padding: 2px;
    background-color: #d5dada; }
    .footer__acerca .navegacion__acerca .navegacion__lista li a {
      color: black;
      padding: 2px;
      text-decoration: none;
      text-align: center; }

header .encabezado {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  padding: 5px;
  width: 100%;
  height: 80px;
  background-color: #d5dada;
  text-align: center; }
  header .encabezado h1 {
    animation-name: titulo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: initial; }
  header .encabezado .encabezado__lista li {
    display: inline;
    margin: 10px 10px 10px 10px; }
    header .encabezado .encabezado__lista li a {
      text-decoration: none;
      color: black; }
  header .encabezado .frente__productos img {
    width: 100%;
    height: 200px; }

.servicios {
  background-color: #d5dada;
  text-align: center; }
  .servicios h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;
    padding: 5px;
    background-color: #d5dada; }
  .servicios .contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d5dada; }
    .servicios .contenedor .servicios__contenedor {
      width: 200px;
      height: 200px;
      border: 2px solid black;
      border-radius: 5px;
      display: flex;
      align-items: center;
      background-color: #d5dada;
      -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
      .servicios .contenedor .servicios__contenedor:hover {
        transform: scale(1.1); }
      .servicios .contenedor .servicios__contenedor img {
        width: 100%;
        height: 150px; }

.footerServicios .piedepaginaServicios {
  background-color: #d5dada;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.footerServicios a:hover {
  transform: scale(1.1); }

.footerServicios .tarjetas-credito h2 {
  background-color: #d5dada;
  font-family: 'Montserrat', sans-serif;
  font-style: semibold;
  text-align: center; }

.footerServicios .tarjetas-credito img {
  width: 100%;
  height: 150px;
  background-color: #d5dada; }

.footerServicios .navegacionServicios {
  font-family: "Montserrat", sans-serif;
  width: 100;
  padding: 14px;
  background-color: #d5dada;
  text-align: center; }
  .footerServicios .navegacionServicios .navegacion__lista li {
    list-style: none;
    display: inline;
    margin: 20px 10px 20px 10px;
    padding: 2px;
    background-color: #d5dada; }
    .footerServicios .navegacionServicios .navegacion__lista li a {
      color: black;
      padding: 2px;
      text-decoration: none;
      text-align: center; }

header .encabezadoContacto {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  width: 600;
  font-style: semibold;
  padding: 10px;
  background-color: #d5dada;
  text-align: center; }
  header .encabezadoContacto h1 {
    animation-name: titulo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: initial; }

@keyframes titulo {
  from {
    margin-right: 100%;
    width: 300%; }
  to {
    margin-right: 0;
    width: 100%; } }
  header .encabezadoContacto .encabezado__lista li {
    display: inline;
    margin: 20px 10px 20px 10px; }
    header .encabezadoContacto .encabezado__lista li a {
      text-decoration: none;
      color: black; }

header .frente__productos {
  background-color: #d5dada;
  text-align: center; }
  header .frente__productos img {
    width: 200px;
    height: 200px; }

.contacto-main {
  background-color: #d5dada; }
  .contacto-main h2 {
    text-align: center;
    background-color: #d5dada; }
  .contacto-main .mensaje .formulario {
    background-color: #d5dada; }
  .contacto-main .mensaje div {
    color: black;
    display: flex;
    justify-content: center;
    background-color: #d5dada; }
    .contacto-main .mensaje div label {
      font-family: 'Montserrat', sans-serif; }

.ubicacion iframe {
  width: 100%; }

.footerContacto .piedepaginaContacto {
  background-color: #d5dada;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.footerContacto a:hover {
  transform: scale(1.1); }

.footerContacto .tarjetas-credito h2 {
  background-color: #d5dada;
  font-family: 'Montserrat', sans-serif;
  font-style: semibold;
  text-align: center; }

.footerContacto .tarjetas-credito img {
  width: 100%;
  height: 150px;
  background-color: #d5dada; }

.footerContacto .navegacionContacto {
  font-family: "Montserrat", sans-serif;
  width: 100;
  padding: 14px;
  background-color: #d5dada;
  text-align: center; }
  .footerContacto .navegacionContacto .navegacion__lista li {
    list-style: none;
    display: inline;
    margin: 20px 10px 20px 10px;
    padding: 2px;
    background-color: #d5dada; }
    .footerContacto .navegacionContacto .navegacion__lista li a {
      color: black;
      padding: 2px;
      text-decoration: none;
      text-align: center; }

@media screen and (max-width: 990px) {
  .grid {
    width: 100%;
    /*margin: 0;*/
    display: grid;
    grid-template-rows: 60px 530px 270px 220px 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "nav nav" "header header" "aside aside" "main main" "footer footer"; }
  .hero .frente {
    width: 100%;
    height: 300px; }
    .hero .frente .frente img {
      width: 100%;
      height: 300px; }
    .hero .frente .ferre h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      font-style: italic;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 5px; }
      .hero .frente .ferre h1 .ferre h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: italic;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 5px; }
      .hero .frente .ferre h1 .ferre p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 5px; }
  .aside img {
    width: 100%;
    height: 250px; }
  .encabezado__lista {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    margin: 1px;
    padding: 1px;
    text-align: center;
    background-color: #d5dada; }
  .footer {
    width: 100%;
    height: 440px;
    background-color: #d5dada; }
    .footer .tarjetas img {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center; }
    .footer .navegacion {
      list-style-position: inside;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      display: inline;
      margin: 5px;
      padding: 5px;
      background-color: #d5dada; }
      .footer .navegacion .navegacion__lista li {
        list-style: none;
        display: inline;
        margin: 10px 10px 10px 10px;
        padding: 10px; }
        .footer .navegacion .navegacion__lista li a {
          color: black;
          padding: 10px;
          text-decoration: none;
          text-align: center; }
      .footer .navegacion .piedepagina__titulo {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px; } }

@media screen and (max-width: 890px) {
  .navegacion__acerca {
    font-family: "Montserrat", sans-serif;
    width: 100;
    font-size: 14px;
    padding: 2px;
    background-color: #d5dada;
    text-align: center; }
    .navegacion__acerca .navegacion__lista li {
      list-style: none;
      display: inline;
      margin: 5px 5px 5px 5px;
      padding: 5px;
      background-color: #d5dada; }
      .navegacion__acerca .navegacion__lista li a {
        color: black;
        padding: 5px;
        text-decoration: none;
        text-align: center; } }

@media screen and (max-width: 850px) {
  .frente__productos {
    width: 100%;
    height: 200px; }
  .encabezado__lista {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    margin: 1px;
    padding: 1px;
    text-align: center;
    background-color: #d5dada; }
  .hero .ferre h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    width: 100;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px; }
    .hero .ferre h1 .ferre h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      width: 100;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 10px; }
  .footer {
    width: 100%;
    height: 440px;
    background-color: #d5dada; }
    .footer .tarjetas img {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center; }
    .footer .navegacion {
      list-style-position: inside;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      display: inline;
      margin: 5px;
      padding: 5px;
      background-color: #d5dada; }
      .footer .navegacion .navegacion__lista li {
        list-style: none;
        display: inline;
        margin: 5px 5px 5px 5px;
        padding: 5px; }
        .footer .navegacion .navegacion__lista li a {
          color: black;
          padding: 5px;
          text-decoration: none;
          text-align: center; }
      .footer .navegacion .piedepagina__titulo {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 5px; }
  .navegacion__acerca {
    font-family: "Montserrat", sans-serif;
    padding: 5px;
    background-color: #d5dada;
    text-align: center; }
    .navegacion__acerca .navegacion__lista li {
      list-style: none;
      display: inline;
      margin: 2x 2px 2px 2px;
      background-color: #d5dada; }
      .navegacion__acerca .navegacion__lista li a {
        color: black;
        text-decoration: none;
        text-align: center; } }

@media screen and (max-width: 820px) {
  .navegacion__acerca {
    font-family: "Montserrat", sans-serif;
    padding: 5px;
    background-color: #d5dada;
    text-align: center; }
    .navegacion__acerca .navegacion__lista li {
      list-style: none;
      display: inline;
      margin: 2x 2px 2px 2px;
      background-color: #d5dada; }
      .navegacion__acerca .navegacion__lista li a {
        color: black;
        text-decoration: none;
        text-align: center; } }

@media screen and (max-width: 690px) {
  .frente__productos {
    width: 100%;
    height: 200px; }
  .encabezado__lista {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    margin: 1px;
    padding: 1px;
    text-align: center;
    background-color: #d5dada; }
  .ferre h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    width: 100;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px; }
    .ferre h1 .ferre h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      width: 100;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 10px; }
  .catalogo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d5dada; }
    .catalogo .catalogo div {
      width: 170px;
      height: 210px;
      margin: 10px;
      background-color: #d5dada;
      -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.75); }
      .catalogo .catalogo div .catalogo div h4 {
        display: flex;
        justify-content: center; }
        .catalogo .catalogo div .catalogo div h4 .catalogo img {
          width: 100%;
          height: 110px;
          display: flex;
          align-items: first baseline; }
        .catalogo .catalogo div .catalogo div h4 .catalogo div:hover {
          transform: scale(1.1); }
      .catalogo .catalogo div .catalogo__contenedor-1 a {
        width: 100%;
        height: 20px;
        background-color: #ce8a37;
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        display: flex;
        justify-content: center; }
        .catalogo .catalogo div .catalogo__contenedor-1 a .catalogo__contenedor-1 h4 {
          width: 100%;
          height: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          background-color: #ce8a37;
          display: flex;
          align-items: flex-start; }
      .catalogo .catalogo div .catalogo__contenedor-2 a {
        width: 100%;
        height: 30px;
        background-color: #ce8a37;
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        display: flex;
        justify-content: center; }
        .catalogo .catalogo div .catalogo__contenedor-2 a .catalogo__contenedor-2 h4 {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          background-color: #ce8a37; }
      .catalogo .catalogo div .catalogo__contenedor-3 a {
        width: 100%;
        height: 30px;
        background-color: #ce8a37;
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        display: flex;
        justify-content: center; }
        .catalogo .catalogo div .catalogo__contenedor-3 a .catalogo__contenedor-3 h4 {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          background-color: #ce8a37; }
      .catalogo .catalogo div .catalogo__contenedor-4 a {
        width: 100%;
        height: 30px;
        background-color: #ce8a37;
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        display: flex;
        justify-content: center; }
        .catalogo .catalogo div .catalogo__contenedor-4 a .catalogo__contenedor-4 h4 {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          background-color: #ce8a37; }
      .catalogo .catalogo div .catalogo__contenedor-5 a {
        width: 100%;
        height: 30px;
        background-color: #ce8a37;
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        display: flex;
        justify-content: center; }
        .catalogo .catalogo div .catalogo__contenedor-5 a .catalogo__contenedor-5 h4 {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          background-color: #ce8a37; }
      .catalogo .catalogo div .catalogo__contenedor-6 a {
        width: 100%;
        height: 30px;
        background-color: #ce8a37;
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        display: flex;
        justify-content: center; }
        .catalogo .catalogo div .catalogo__contenedor-6 a .catalogo__contenedor-6 h4 {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          background-color: #ce8a37; }
  .footer {
    width: 100%;
    height: 440px;
    background-color: #d5dada; }
    .footer .tarjetas-credito h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      width: 100;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 5px; }
    .footer .tarjetas-credito img {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center; }
    .footer .tarjetas-credito .navegacion {
      list-style-position: inside;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      display: inline;
      margin: 2px;
      padding: 2px;
      background-color: #d5dada; }
      .footer .tarjetas-credito .navegacion .navegacion__lista li {
        list-style: none;
        display: inline;
        margin: 2px 2px 2px 2px;
        padding: 2px; }
        .footer .tarjetas-credito .navegacion .navegacion__lista li a {
          color: black;
          padding: 2px;
          text-decoration: none;
          text-align: center; } }

@media screen and (max-width: 550px) {
  .grid {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 60px 600px 270px 200px 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "nav nav" "header header" "aside aside" "main main" "footer footer"; }
  .frente {
    width: 100%;
    height: 100px; }
    .frente .frente img {
      width: 100%;
      height: 270px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .frente .frente img .frente__productos {
        width: 100%;
        height: 170px; }
  .encabezado {
    width: 100%;
    height: 100px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 18px;
    padding: 5px;
    background-color: #d5dada;
    text-align: center; }
    .encabezado .encabezado__lista li {
      display: inline;
      margin: 10px 10px 10px 10px;
      font-size: 14px; }
      .encabezado .encabezado__lista li .encabezado__lista a {
        text-decoration: none;
        color: black; }
        .encabezado .encabezado__lista li .encabezado__lista a .encabezado__lista {
          background-color: #d5dada; }
  .hero .ferre__titulo .ferre__titulo h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    width: 100;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px; }
    .hero .ferre__titulo .ferre__titulo h1 .ferre__titulo h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      width: 100;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 10px; }
      .hero .ferre__titulo .ferre__titulo h1 .ferre__titulo h2 .ferre__titulo p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px; }
  .aside img {
    width: 100%;
    height: 250px; }
  .footer {
    width: 100%;
    height: 440px;
    background-color: #d5dada; }
    .footer .tarjetas img {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center; }
    .footer .navegacion {
      list-style-position: inside;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      display: inline;
      margin: 3px;
      padding: 3px;
      background-color: #d5dada; }
      .footer .navegacion .navegacion__lista li {
        list-style: none;
        display: inline;
        margin: 3px 3px 3px 3px;
        padding: 3px; }
        .footer .navegacion .navegacion__lista li a {
          color: black;
          padding: 3px;
          text-decoration: none;
          text-align: center; }
    .footer .piedepagina__titulo {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      width: 100;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 5px; } }

.aside {
  width: 100%; }

@media screen and (max-width: 490px) {
  header .encabezado {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    padding: 5px;
    width: 100%;
    height: 120px;
    background-color: #d5dada;
    text-align: center; }
    header .encabezado h1 {
      animation-name: titulo;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-direction: initial; }
    header .encabezado .encabezado__lista li {
      display: inline;
      margin: 10px 10px 10px 10px; }
      header .encabezado .encabezado__lista li a {
        text-decoration: none;
        color: black; }
    header .encabezado .frente__productos img {
      width: 100%;
      height: 200px; } }

@media screen and (max-width: 380px) {
  .grid {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 60px 580px 250px 220px 100px;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "header" "aside" "footer"; }
  .frente {
    width: 100%;
    height: 355px; }
    .frente .frente img {
      width: 100%;
      height: 350px;
      padding: 5px; }
      .frente .frente img .frente__productos {
        width: 100%;
        height: 200px; }
  .carro {
    display: none; }
  .aside {
    width: 100%;
    height: 300px; }
  footer div h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    width: 100;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px; }
    footer div h2 .footer {
      height: 250px;
      background-color: #d5dada; }
      footer div h2 .footer .piedepagina {
        height: 90px; }
        footer div h2 .footer .piedepagina .piedepagina img {
          height: 60px; }
          footer div h2 .footer .piedepagina .piedepagina img .navegacion__lista {
            list-style: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            margin: 1px;
            padding: 1px;
            text-align: center;
            background-color: #d5dada; }
            footer div h2 .footer .piedepagina .piedepagina img .navegacion__lista .tarejtas img {
              width: 100%; }
  .encabezado {
    width: 100%;
    height: 100px; }
    .encabezado .encabezado__lista {
      list-style: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-style: italic;
      margin: 1px;
      padding: 1px;
      text-align: center;
      background-color: #d5dada; }
  .ferre h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: italic;
    text-align: center; }
    .ferre h1 .ferre h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-style: italic;
      text-align: center; }
      .ferre h1 .ferre h2 .ferre p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic; } }
