@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid{
    width: 90%;
    margin: 0 auto;
    /*HABILITO GRILLA*/
    display: grid;
    /*DECLARO FILAS Y COLUMNAS*/
    grid-template-rows: 80px 550px 210px 90px;
    grid-template-columns: repeat(3,1fr);

    /*DECLARO AEREAS*/
    grid-template-areas: 
    "nav nav nav"
    "header header aside"
    "main main main"
    "footer footer footer"
    ;

}

/*MAIN*/

.grid{
    width: 100%;
    height: 600px;
}

.encabezado{
    list-style:none;
    font-family: 'DynaPuff', cursive;
    width: 600;
    font-style: semibold;
    padding: 20px;
    background-color: rgb(213, 218, 218);
    text-align: center;
    grid-area: nav;
}

.encabezado__lista li{
    display: inline;
    margin: 20px 10px 20px 10px;
}

.encabezado__lista a{
    text-decoration:none;
    color: black;
}

.hero{
    grid-area: header;
    background-color: rgb(213, 218, 218);
    text-align: center;
}


.frente{
    text-align: center;
    
}

.ferre{
    font-family: 'DynaPuff', cursive;
    font-style: semibold;
    text-align: center;
}

.aside{
    grid-area: aside;
    background-color: rgb(213, 218, 218);
}

.main{
    grid-area: main;
    background-color: rgb(213, 218, 218);
    width: 100%;
    height: 220px;
    margin: 0;
}

.carousel-inner{
    width: 100%;
    height: 200px;
    border: 2px black solid;
    border-radius: 5px;
}

.carousel-item img{
    width: 500px;
    height: 200px;
    justify-items: center;
}

.nosotros{
    background-color: rgb(213, 218, 218);
    font-family: 'DynaPuff', cursive;
    font-style: semibold;
    text-align: center;
}

.servicios{
    background-color: rgb(213, 218, 218);
    text-align: center;
}

.carro{
    width: 100%;
    height: 200px;
}

.producto-main__subtitulo{
    text-align: center;
    background-color: rgb(213, 218, 218);
}

.catalogo{
    display: flex;
    justify-content: space-around;
    background-color: rgb(213, 218, 218) ;
}

.catalogo div{
    width: 300px;
    height: 255px;
    margin: 20px;
    background-color: rgb(213, 218, 218);
}

.catalogo div h4{
    display: flex;
    justify-content: center;
}



.catalogo div img{
    width: 100%;
    height: 195px;
    display: flex;
    justify-content:center;
}

.catalogo div button{
    background-color: black;
    color: blanchedalmond;
    padding: 10px;
}

.catalogo__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
}

.catalogo__contenedor a{
    width: 100%;
    height: 40px;
    background-color: rgb(206, 138, 55);
    color: black;
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.catalogo__contenedor h4{
    font-family: 'DynaPuff', cursive;
    background-color: rgb(206, 138, 55);
}

.catalogo-dos{
    display: flex;
    justify-content: space-around;
    background-color: rgb(213, 218, 218) ;
}

.catalogo-dos div{
    width: 300px;
    height: 255px;
}

.catalogo-dos div h4{
    display: flex;
    justify-content: center;
}


.catalogo-dos div img{
    width: 100%;
    height: 195px;
    display: flex;
    justify-content:center;
}

.catalogo-dos div button{
    background-color: black;
    color: blanchedalmond;
    padding: 10px;
}


/*---------FOOTER------------*/

.footer{
    grid-area: footer;
    background-color: rgb(213, 218, 218);
    width: 100%;
    height: 400px;
    margin: 0;
}

footer div img{
    margin: 0;
    padding: 10px;
}

footer div{
    background-color: rgb(213, 218, 218);
}

.tarejtas-credito img{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
}


footer div h2{
    font-family: 'DynaPuff', cursive;
    width: 600;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 20px;
}


.navegacion{
    font-family: 'DynaPuff', cursive;
    width: 600;
    padding: 20px;
    text-align: center;
}

.navegacion ul li{
    list-style: none;
    display: inline;
    margin: 20px 10px 20px 10px;
    padding: 10px;
}

.navegacion ul li a{
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.piedepagina{
    display: flex;
    justify-content:space-around;
    height: 100px;
}

@media screen and (max-width:990px) {
    .grid{
        width: 100%;
        /*margin: 0;*/
        display: grid;
        grid-template-rows: 60px 530px 270px 220px 300px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "nav nav"
        "header header"
        "aside aside"
        "main main"
        "footer footer"
        ;
    }

    .frente{
        width: 100%;
        height: 400px;
    }
    .aside img{
        width: 100%;
        height: 250px;
    }

    .tarejtas-credito img{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
    }

    .catalogo__contenedor{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(213, 218, 218) ;
    }

    /*.catalogo-dos{
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: rgb(213, 218, 218) ;
    }
    
}*/

@media screen and (max-width:850px){
    .catalogo__contenedor{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(213, 218, 218) ;
    }
}


@media screen and (max-width:550px){
    .grid{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-rows: 60px 550px 270px 220px 300px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "nav nav"
        "header header"
        "aside aside"
        "main main"
        "footer footer"
        ;
    }

    .encabezado{
        list-style:none;
        font-family: 'DynaPuff', cursive;
        width: 100;
        font-style: italic;
        padding: 5px;
        background-color: rgb(213, 218, 218);
        text-align: center;
        
    }

    .ferre__titulo h2{
        font-family: 'DynaPuff', cursive;
        width: 300;
        font-style: italic;
        text-align: center;
    }

    .ferre__titulo h3{
        font-family: 'DynaPuff', cursive;
        width: 100;
        font-style: italic;
        text-align: center;
    }

    .tarejtas-credito img{
        width: 10%;
        height: 50px;
        
    }

    footer div h2{
        font-family: 'DynaPuff', cursive;
        width: 200;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
    }

    .navegacion{
        list-style: none;
        font-family: 'DynaPuff', cursive;
        font-style: italic;
        width: 100;
        display: inline;
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(213, 218, 218);
    }

    .aside{
        width: 100%;
    }
}

@media screen and (max-width:380px){
    .grid{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-rows: 60px 550px 270px 220px 300px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "nav"
        "header"
        "aside"
        "footer"
        ;
    }

    .frente img{
        margin: 100%;
    }

    .carro{
        display: none;
    }

    .tarejtas-credito{
        width: 100%;
    }
    
    .aside{
        width: 100%;
    }

    .navegacion{
        list-style: none;
        font-family: 'DynaPuff', cursive;
        font-style: italic;
        width: 100;
        display: inline;
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(213, 218, 218);
    }

    footer div h2{
        font-family: 'DynaPuff', cursive;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
    }
    .encabezado{
        list-style:none;
        font-family: 'DynaPuff', cursive;
        width: 100;
        font-style: italic;
        padding: 5px;
        background-color: rgb(213, 218, 218);
        text-align: center;
        
    }

    .ferre__titulo h2{
        font-family: 'DynaPuff', cursive;
        width: 200;
        font-style: italic;
        text-align: center;
    }

    .ferre__titulo h3{
        font-family: 'DynaPuff', cursive;
        width: 100;
        font-style: italic;
        text-align: center;
    }
}



