header{
    .encabezado__nosotros{
        list-style:none;
        font-family: 'Montserrat', sans-serif;
        width: 600;
        font-style: semibold;
        padding: 10px;
        background-color: $color-principal;
        text-align: center;
        }
        .encabezado__lista{
            li{
                display: inline;
                margin: 20px 10px 20px 10px;
                a{
                    text-decoration:none;
                    color: $color-secundario;
                }
            }
        }
    }
    .frente__productos{
        background-color: $color-principal;
        text-align: center;
        img{
            width: 200px;
            height: 200px;
        }
    }

.nosotros{
    background-color: $color-principal;
    font-family: 'Montserrat', sans-serif;
    font-style: semibold;
    text-align: center;
    h3{
        background-color: $color-principal;
        font-family: 'Montserrat', sans-serif;
        font-style: semibold;
        text-align: center;
        padding: 60px;
    }
}

.footer__acerca{
    .piedepagina__acerca{
        background-color: $color-principal;
        width: 100%;
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
    a{
        &:hover{
            transform: scale(1.1);
            }
    }
    .tarjetas-credito{
        h2{
            background-color: $color-principal;
            font-family: 'Montserrat', sans-serif;
            font-style: semibold;
            text-align: center;
            padding: 30px;
        }
        img{
            width: 100%;
            height: 150px;
            background-color: $color-principal;
        }
    }
    .navegacion__acerca{
        font-family: "Montserrat", sans-serif;
        width: 100;
        padding: 14px;
        background-color: $color-principal;
        text-align: center;
        .navegacion__lista{
            li{
                list-style: none;
                display: inline;
                margin: 20px 10px 20px 10px;
                padding: 2px;
                background-color: $color-principal;
                a{
                    color: $color-secundario;
                    padding: 2px;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
    }
}