.grid{
    width: 100%;
    height: 300px;
    .grid{
        .encabezado{
            list-style:none;
            font-family: 'Montserrat', sans-serif;
            width: 600;
            font-style: semibold;
            padding: 10px;
            background-color: rgb(213, 218, 218);
            text-align: center;
            grid-area: nav;
                .encabezado__lista{
                    li{
                        display: inline;
                        margin: 20px 10px 20px 10px;
                        a{
                            text-decoration:none;
                            color: black;
                        }
                    }
                }
        }
    }
}

.encabezado{
    h1{
        animation-name: titulo;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-direction: initial;
        @keyframes titulo{
            from{
                margin-right: 100%;
                width: 300%;
            }
            to{
                margin-right: 0;
                width: 100%;
            }
        }
    }
    .encabezado__lista{
        li{
            display: inline;
            margin: 20px 10px 20px 10px;
            a{
                text-decoration:none;
                color: black;
            }
        }
    }
}

.navbar{
    text-align: center;
    padding: 20px;
    background-color: rgb(213, 218, 218);
    div{
        .form-control{
            border: 2px solid black;
            border-radius: 5px;
            .btn{
                border: 2px solid black;
                border-radius: 5px;
            }
        }
    }
}