footer .footer{
    grid-area: footer;
    background-color: rgb(213, 218, 218);
    width: 100%;
    height: 400px;
    margin: 0;
        div .piedepagina{
            display: flex;
            justify-content:space-around;
            height: 100px;
            a{
                margin: 0;
                width: 100%;
                padding: 10px;
                &:hover{
                    transform: scale(1.1);
                }

            }
        }
        div{
            h2{
                font-family: 'Montserrat', sans-serif;
                width: 600;
                text-decoration: none;
                text-align: center;
                color: black;
                padding: 20px;
            }
        }
        div{
            img{
                width: 90%;
                height: 100vw;
                display: flex;
                align-items: center;
            }
        }
        div .navegacion{
            font-family: 'Montserrat', sans-serif;
            width: 600;
            padding: 20px;
            text-align: center;
            ul .navegacion__lista{
                li{
                    list-style: none;
                    display: inline;
                    margin: 20px 10px 20px 10px;
                    padding: 10px;
                    a{
                        color: black;
                        padding: 10px;
                        text-decoration: none;
                        text-align: center;
                    }
                }
            }
        }
}