.hero{
    .frente{
        text-align: center;
        width: 100%;
        height: 350px;
        img{
            width: 90%;
            height: 330px;
        }
    }
    .ferre{
        .ferre__titulo{
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                font-style: italic;
                text-decoration: none;
                text-align: center;
                color: black;
                margin: 0;
                padding: 5px
            }
            h3{
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-style: italic;
                text-decoration: none;
                text-align: center;
                color: black;
                padding: 5px;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-style: italic;
                text-decoration: none;
                text-align: center;
                color: black;
                padding: 5px;
            }
        }
    }
}

.hero{
    .encabezado{
        list-style:none;
        font-family: 'Montserrat', sans-serif;
        width: 600;
        font-style: semibold;
        padding: 10px;
        background-color: rgb(213, 218, 218);
        text-align: center;
        grid-area: nav;
        }   
        h1{
            animation-name: titulo;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-direction: initial;
            @keyframes titulo{
                from{
                    margin-right: 100%;
                    width: 300%;
                }
                to{
                    margin-right: 0;
                    width: 100%;
                }
            }
        }
        .encabezado__lista{
            li{
                display: inline;
                margin: 20px 10px 20px 10px;
                a{
                    text-decoration:none;
                    color: black;
                }
            }
        }
        .frente__productos{
            img{
                text-align: center;
            }
        }
}
