.hero{
    grid-area: header;
    background-color: $color-principal;
    text-align: center;
}

.main{
    grid-area: main;
    background-color: $color-principal;
    width: 100%;
    height: 220px;
    margin: 0;
}

.footer{
    grid-area: footer;
    background-color: $color-principal;
    width: 100%;
    height: 400px;
    margin: 0;
}


.grid{
        width: 100%;
        height: 250px;
        .encabezado{
            list-style:none;
            font-family: 'Montserrat', sans-serif;
            width: 600;
            font-style: semibold;
            padding: 10px;
            background-color: $color-principal;
            text-align: center;
            grid-area: nav;
                .encabezado__lista{
                    li{
                        display: inline;
                        margin: 20px 10px 20px 10px;
                        a{
                            text-decoration:none;
                            color: $color-secundario;
                        }
                    }
                }
        }
}

.hero{
    .frente{
        text-align: center;
        width: 100%;
        height: 320px;
        img{
            width: 50%;
            height: 250px;
        }
    }
    .ferre{
        .ferre__titulo{
            h1{
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                font-style: italic;
                text-decoration: none;
                text-align: center;
                color: $color-secundario;
                padding: 10px
            }
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-style: italic;
                text-decoration: none;
                text-align: center;
                color: $color-secundario;
                padding: 10px;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 17px;
                font-style: italic;
                text-decoration: none;
                text-align: center;
                color: $color-secundario;
                padding: 10px;
            }
        }
    }
}

.aside{
    grid-area: aside;
    background-color: $color-principal;
    img{
        width: 100%;
        height: 500px;
    }
}

.carro{
    width: 100%;
    height: 200px;
    padding: 20px;
}
.carousel-inner{
        width: 100%;
        height: 200px;
        border: 2px $color-secundario solid;
        border-radius: 5px;
        padding: 20px;
        }
.carousel-item{
            img{
                width: 100%;
                height: 180px;
                justify-items: center;
                }
        }


.footer{
    .piedepagina{
        background-color: $color-principal;
        width: 100%;
        height: 100px;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        }
        .piedepagina__titulo{
            h2{
                background-color: $color-principal;
                font-family: 'Montserrat', sans-serif;
                font-style: semibold;
                text-align: center;
                padding: 30px;
                }
        }
        a{
            &:hover{
                transform: scale(1.1);
                }
        }
        .tarjetas{
            img{
                width: 100%;
                height: 150px;
                background-color: $color-principal;
            }
        }
        .navegacion{
            font-family: "Montserrat", sans-serif;
            width: 100;
            padding: 14px;
            background-color: $color-principal;
            text-align: center;
            .navegacion__lista{
                li{
                    list-style: none;
                    display: inline;
                    margin: 20px 10px 20px 10px;
                    padding: 2px;
                    background-color: $color-principal;
                    a{
                        color: $color-secundario;
                        padding: 2px;
                        text-decoration: none;
                        text-align: center;
                    }
            }
        }
    }
}