.main{
    .carro{
        width: 100%;
        height: 200px;
        .carousel{
            .carousel-indicators{
                button{

                }
                button{

                }
                button{

                }
            }
                .carosuel-inner{
                    width: 100%;
                    height: 200px;
                    border: 2px black solid;
                    border-radius: 5px;
                    img{
                        width: 500px;
                        height: 190px;
                        justify-items: center;
                    }
                }
                .carosuel-item{
                    width: 100%;
                    height: 200px;
                    border: 2px black solid;
                    border-radius: 5px;
                    img{
                        width: 490px;
                        height: 180px;
                        justify-items: center;
                    }
                }
                .carosuel-item{
                    width: 100%;
                    height: 200px;
                    border: 2px black solid;
                    border-radius: 5px;
                    img{
                        width: 500px;
                        height: 190px;
                        justify-items: center;
                    }
                }
            }
            button{

            }
            button{
            }
        }
    }


.nosotros{
    section{
        h3{
            background-color: rgb(213, 218, 218);
            font-family: 'Montserrat', sans-serif;
            font-style: semibold;
            text-align: center;
        }
    }
}

.producto-main{
    .tituloMain{
        h3{
            width: 100%;
            text-align: center;
            background-color: rgb(213, 218, 218);
        }
    }
    .catalogo{
        width: 300px;
        height: 255px;
        margin: 20px;
        background-color: rgb(213, 218, 218);
        -webkit-box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
        &:hover{
        transform: scale(1.1);
        }
        .calalogo__contenedor-1{
            h4{
                width: 100%;
                height: 30px;
                font-family: 'Montserrat', sans-serif;
                background-color: rgb(206, 138, 55);
                display: flex;
                align-items:flex-start;
                justify-content: center;
            }
            img{
                width: 100%;
                height: 190px;
                display: flex;
                align-items: first baseline;
            }
            a{
                width: 100%;
                height: 40px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
            }
        }
        .calalogo__contenedor-2{
            h4{
                width: 100%;
                height: 30px;
                font-family: 'Montserrat', sans-serif;
                background-color: rgb(206, 138, 55);
                display: flex;
                align-items:flex-start;
                justify-content: center;
            }
            img{
                width: 100%;
                height: 190px;
                display: flex;
                align-items: first baseline;
            }
            a{
                width: 100%;
                height: 40px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
            }
        }
        .calalogo__contenedor-3{
            h4{
                width: 100%;
                height: 30px;
                font-family: 'Montserrat', sans-serif;
                background-color: rgb(206, 138, 55);
                display: flex;
                align-items:flex-start;
                justify-content: center;
            }
            img{
                width: 100%;
                height: 190px;
                display: flex;
                align-items: first baseline;
            }
            a{
                width: 100%;
                height: 40px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
            }
        }
        .calalogo__contenedor-4{
            h4{
                width: 100%;
                height: 30px;
                font-family: 'Montserrat', sans-serif;
                background-color: rgb(206, 138, 55);
                display: flex;
                align-items:flex-start;
                justify-content: center;
            }
            img{
                width: 100%;
                height: 190px;
                display: flex;
                align-items: first baseline;
            }
            a{
                width: 100%;
                height: 40px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
            }
        }
        .calalogo__contenedor-5{
            h4{
                width: 100%;
                height: 30px;
                font-family: 'Montserrat', sans-serif;
                background-color: rgb(206, 138, 55);
                display: flex;
                align-items:flex-start;
                justify-content: center;
            }
            img{
                width: 100%;
                height: 190px;
                display: flex;
                align-items: first baseline;
            }
            a{
                width: 100%;
                height: 40px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
            }
        }
        .calalogo__contenedor-6{
            h4{
                width: 100%;
                height: 30px;
                font-family: 'Montserrat', sans-serif;
                background-color: rgb(206, 138, 55);
                display: flex;
                align-items:flex-start;
                justify-content: center;
            }
            img{
                width: 100%;
                height: 190px;
                display: flex;
                align-items: first baseline;
            }
            a{
                width: 100%;
                height: 40px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.servicios{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(213, 218, 218);
    -webkit-box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
    &:hover{
        transform: scale(1.1);
    }
    h2{
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        text-align: center;
        background-color: rgb(213, 218, 218);
    }
    .contenedor{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        background-color: rgb(213, 218, 218) ;
        .servicios__contenedor{
            width: 100%;
            background-color: rgb(213, 218, 218) ;
            img{
                width: 100%;
                height: 150px;
            }
        }
    }
}

.contacto-main{
    h2{
        text-align: center;
        background-color: rgb(213, 218, 218) ;
    }
    .mensaje{
        div{
            color: black;
            display: flex;
            justify-content:center;
            background-color: rgb(213, 218, 218) ;
            label{
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
}