header{
    .encabezado{
            list-style:none;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            padding: 5px;
            width: 100%;
            height: 80px;
            background-color: $color-principal;
            text-align: center;
        .encabezado__lista{
            li{
                display: inline;
                margin: 10px 10px 10px 10px;
                a{
                    text-decoration:none;
                    color: $color-secundario;
                }
            }
        }
        .frente__productos{
            img{
                width: 100%;
                height: 200px;
            }
        }
    }
}

.servicios{
    background-color: $color-principal;
    text-align: center;
    h2{
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        text-align: center;
        padding: 5px;
        background-color: $color-principal;
    }
    .contenedor{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        background-color: $color-principal;
        .servicios__contenedor{
            width: 300px;
            height: 255px;
            margin: 20px;
            border: 2px solid $color-secundario;
            border-radius: 5px;
            display: flex;
            align-items: center;
            background: rgb(252,254,254);
            background: linear-gradient(90deg, rgba(252,254,254,1) 0%, rgba(214,252,254,1) 35%, rgba(183,240,250,1) 70%);
            -webkit-box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75); ;
            &:hover{
                transform: scale(1.1);
                }
            img{
                width: 100%;
                height: 150px;
            }
        }
    }
}

.footerServicios{
    .piedepaginaServicios{
        background-color: $color-principal;
        width: 100%;
        height: 100px;
        padding: 20px;
        display: flex;
        justify-content: space-around;
    }
    a{
        &:hover{
            transform: scale(1.1);
            }
    }
    .tarjetas-credito{
        h2{
            background-color: $color-principal;
            font-family: 'Montserrat', sans-serif;
            font-style: semibold;
            text-align: center;
            padding: 30px;
        }
        img{
            width: 100%;
            height: 100px;
            background-color: $color-principal;
        }
    }
    .navegacionServicios{
        font-family: "Montserrat", sans-serif;
        width: 100;
        padding: 14px;
        background-color: $color-principal;
        text-align: center;
        .navegacion__lista{
            li{
                list-style: none;
                display: inline;
                margin: 20px 10px 20px 10px;
                padding: 2px;
                background-color: $color-principal;
                a{
                    color: $color-secundario;
                    padding: 2px;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
    }
}