@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    width: 100%;
    margin: 0 auto;
    /*HABILITO GRILLA*/
    display: grid;
    /*DECLARO FILAS Y COLUMNAS*/
    grid-template-rows: 80px 550px 210px 90px;
    grid-template-columns: repeat(3,1fr);

    /*DECLARO AEREAS*/
    grid-template-areas: 
    "nav nav nav"
    "header header aside"
    "main main main"
    "footer footer footer"
    ;

}

.main{
    grid-area: main;
    background-color: rgb(213, 218, 218);
    width: 100%;
    height: 220px;
    margin: 0;
}

.footer{
    grid-area: footer;
    background-color: rgb(213, 218, 218);
    width: 100%;
    height: 400px;
    margin: 0;
}
