@media screen and (max-width:990px) {
    .grid{
        width: 100%;
        /*margin: 0;*/
        display: grid;
        grid-template-rows: 60px 530px 270px 220px 300px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "nav nav"
        "header header"
        "aside aside"
        "main main"
        "footer footer"
        ;
    }

    .hero{
        .frente{
            width: 100%;
            height: 300px;
            .frente img{
                width: 100%;
                height: 300px;
            }
            .ferre h1{
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                font-style: italic;
                text-decoration: none;
                text-align: center;
                color: black;
                padding: 5px;
                .ferre h2{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 25px;
                    font-style: italic;
                    text-decoration: none;
                    text-align: center;
                    color: black;
                    padding: 5px;
                }
                .ferre p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-style: italic;
                    text-decoration: none;
                    text-align: center;
                    color: black;
                    padding: 5px;
                }
            }
        }
    }

    .aside img{
        width: 100%;
        height: 250px;
    }

    

    .encabezado__lista{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        margin: 1px;
        padding: 1px;
        text-align: center;
        background-color: rgb(213, 218, 218);
    }
    
    .footer{
        width: 100%;
        height: 440px;
        background-color: rgb(213, 218, 218);
        .tarjetas img{
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
        }
        .navegacion{
            list-style-position: inside;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            display:inline;
            margin: 5px;
            padding: 5px;
            background-color: rgb(213, 218, 218);
            .navegacion__lista{
                li{
                    list-style: none;
                    display: inline;
                    margin: 10px 10px 10px 10px;
                    padding: 10px;
                    a{
                        color: black;
                        padding: 10px;
                        text-decoration: none;
                        text-align: center;
                    }
                }
            }
            .piedepagina__titulo{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: italic;
                width: 100;
                text-decoration: none;
                text-align: center;
                color: black;
                padding: 10px;
                
            }
        }
    }     
}

@media screen and (max-width:890px){
    .navegacion__acerca{
        font-family: "Montserrat", sans-serif;
        width: 100;
        font-size: 14px;
        padding: 2px;
        background-color: rgb(213, 218, 218);
        text-align: center;
        .navegacion__lista{
            li{
                list-style: none;
                display: inline;
                margin: 5px 5px 5px 5px;
                padding: 5px;
                background-color: rgb(213, 218, 218);
                a{
                    color: black;
                    padding: 5px;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width:850px){

    .frente__productos{
        width: 100%;
        height: 200px;
    }

    .encabezado__lista{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        margin: 1px;
        padding: 1px;
        text-align: center;
        background-color: rgb(213, 218, 218);
    }

    .hero{
        .ferre h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            width: 100;
            text-decoration: none;
            text-align: center;
            color: black;
            padding: 10px;
            .ferre h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: italic;
                width: 100;
                text-decoration: none;
                text-align: center;
                color: black;
                padding: 10px;
            }
        }
    }

    .footer{
        width: 100%;
        height: 440px;
        background-color: rgb(213, 218, 218);
        .tarjetas img{
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
        }
        .navegacion{
            list-style-position: inside;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            display:inline;
            margin: 5px;
            padding: 5px;
            background-color: rgb(213, 218, 218);
            .navegacion__lista{
                li{
                    list-style: none;
                    display: inline;
                    margin: 5px 5px 5px 5px;
                    padding: 5px;
                    a{
                        color: black;
                        padding: 5px;
                        text-decoration: none;
                        text-align: center;
                    }
                }
            }
            .piedepagina__titulo{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: italic;
                width: 100;
                text-decoration: none;
                text-align: center;
                color: black;
                padding: 5px;
                
            }
        }
    }
    .navegacion__acerca{
        font-family: "Montserrat", sans-serif;
        padding: 5px;
        background-color: rgb(213, 218, 218);
        text-align: center;
        .navegacion__lista{
            li{
                list-style: none;
                display: inline;
                margin: 2x 2px 2px 2px;
                background-color: rgb(213, 218, 218);
                a{
                    color: black;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
    }     
}

@media screen and (max-width:820px){
    .navegacion__acerca{
        font-family: "Montserrat", sans-serif;
        padding: 5px;
        background-color: rgb(213, 218, 218);
        text-align: center;
        .navegacion__lista{
            li{
                list-style: none;
                display: inline;
                margin: 2x 2px 2px 2px;
                background-color: rgb(213, 218, 218);
                a{
                    color: black;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
    }
}

    
@media screen and (max-width:690px){
    .frente__productos{
        width: 100%;
        height: 200px;
    }

    .encabezado__lista{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        margin: 1px;
        padding: 1px;
        text-align: center;
        background-color: rgb(213, 218, 218);
    }

    .ferre h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
        .ferre h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            width: 100;
            text-decoration: none;
            text-align: center;
            color: black;
            padding: 10px;
        }
    }

    .catalogo{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgb(213, 218, 218) ;
        .catalogo div{
            width: 170px;
            height: 210px;
            margin: 10px;
            background-color: rgb(213, 218, 218);
            -webkit-box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 11px 11px 15px 0px rgba(0,0,0,0.75);
            .catalogo div h4{
                display: flex;
                justify-content: center;
                .catalogo img{
                    width: 100%;
                    height: 110px;
                    display: flex;
                    align-items: first baseline;
                }
                .catalogo div:hover{
                    transform: scale(1.1);
                }
            }
            .catalogo__contenedor-1 a{
                width: 100%;
                height: 20px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
                .catalogo__contenedor-1 h4{
                    width: 100%;
                    height: 10px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    background-color: rgb(206, 138, 55);
                    display: flex;
                    align-items:flex-start;
                }
            }
        
            .catalogo__contenedor-2 a{
                width: 100%;
                height: 30px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
                .catalogo__contenedor-2 h4{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    background-color: rgb(206, 138, 55);
                }
            }
            
            .catalogo__contenedor-3 a{
                width: 100%;
                height: 30px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
                .catalogo__contenedor-3 h4{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    background-color: rgb(206, 138, 55);
                }
            }
            
            .catalogo__contenedor-4 a{
                width: 100%;
                height: 30px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
                .catalogo__contenedor-4 h4{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    background-color: rgb(206, 138, 55);
                }
            }
            
            .catalogo__contenedor-5 a{
                width: 100%;
                height: 30px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
                .catalogo__contenedor-5 h4{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    background-color: rgb(206, 138, 55);
                }
            }
            
            .catalogo__contenedor-6 a{
                width: 100%;
                height: 30px;
                background-color: rgb(206, 138, 55);
                color: black;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                display: flex;
                justify-content: center;
                .catalogo__contenedor-6 h4{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    background-color: rgb(206, 138, 55);
                }
            }
        }
    }
    
    
    
    

    .footer{
        width: 100%;
        height: 440px;
        background-color: rgb(213, 218, 218);
        .tarjetas-credito{
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: italic;
                width: 100;
                text-decoration: none;
                text-align: center;
                color: black;
                padding: 5px;
            }
            img{
                width: 100%;
                height: 80px;
                display: flex;
                align-items: center;
            }
            .navegacion{
                list-style-position: inside;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: italic;
                display:inline;
                margin: 2px;
                padding: 2px;
                background-color: rgb(213, 218, 218);
                .navegacion__lista{
                    li{
                        list-style: none;
                        display: inline;
                        margin: 2px 2px 2px 2px;
                        padding: 2px;
                        a{
                            color: black;
                            padding: 2px;
                            text-decoration: none;
                            text-align: center;
                        }
                    }
                }
            }
        } 
        
    }     
}


@media screen and (max-width:550px){
    .grid{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-rows: 60px 600px 270px 200px 300px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "nav nav"
        "header header"
        "aside aside"
        "main main"
        "footer footer"
        ;
    }

    .frente{
        width: 100%;
        height: 100px;
        .frente img{
            width: 100%;
            height: 270px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .frente__productos{
                width: 100%;
                height: 170px;
            }
        }
    }

    .encabezado{
        width: 100%;
        height: 100px;
        list-style:none;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 18px;
        padding: 5px;
        background-color: rgb(213, 218, 218);
        text-align: center;
        .encabezado__lista li{
            display: inline;
            margin: 10px 10px 10px 10px;
            font-size: 14px;
            .encabezado__lista a{
                text-decoration:none;
                color: black;
                .encabezado__lista{
                    background-color: rgb(213, 218, 218)
                }
            }
        }
    }
    .hero{
        .ferre__titulo{
            .ferre__titulo h1{
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-style: italic;
                width: 100;
                text-decoration: none;
                text-align: center;
                color: black;
                padding: 10px;
                .ferre__titulo h2{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-style: italic;
                    width: 100;
                    text-decoration: none;
                    text-align: center;
                    color: black;
                    padding: 10px;
                    .ferre__titulo p{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        font-style: italic;
                        width: 100;
                        text-decoration: none;
                        text-align: center;
                        color: black;
                        padding: 10px;
                    }
                } 
            }
        }
    }
    
.aside{
    img{
        width: 100%;
        height: 250px;
    }
}
.footer{
    width: 100%;
    height: 440px;
    background-color: rgb(213, 218, 218);
    .tarjetas img{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
    }
    .navegacion{
        list-style-position: inside;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        display:inline;
        margin: 3px;
        padding: 3px;
        background-color: rgb(213, 218, 218);
        .navegacion__lista{
            li{
                list-style: none;
                display: inline;
                margin: 3px 3px 3px 3px;
                padding: 3px;
                a{
                    color: black;
                    padding: 3px;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
    }
    .piedepagina__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 5px;
        
        }
    }     
}

    .aside{
        width: 100%;
    }

@media screen and (max-width:490px){
    header{
        .encabezado{
                list-style:none;
                font-family: 'Montserrat', sans-serif;
                font-style: italic;
                padding: 5px;
                width: 100%;
                height: 120px;
                background-color: rgb(213, 218, 218);
                text-align: center;
            h1{
                animation-name: titulo;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-direction: initial;
            }
            .encabezado__lista{
                li{
                    display: inline;
                    margin: 10px 10px 10px 10px;
                    a{
                        text-decoration:none;
                        color: black;
                    }
                }
            }
            .frente__productos{
                img{
                    width: 100%;
                    height: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:380px){
    .grid{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-rows: 60px 580px 250px 220px 100px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "header"
        "aside"
        "footer"
        
    }

    .frente{
        width: 100%;
        height: 320px;
        .frente img{
            width: 100%;
            height: 300px;
            padding: 5px;
            .frente__productos{
                width: 100%;
                height: 200px;
            }
        }
    }
    
    .carro{
        display: none;
    }
    
    .aside{
        width: 100%;
        height: 300px;
    }
    
    footer div h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
        .footer{
            height: 250px;
            background-color: rgb(213, 218, 218);
            .piedepagina{
                height: 90px;
                .piedepagina img{
                    height: 60px;
                    .navegacion__lista{
                        list-style: none;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        font-style: italic;
                        margin: 1px;
                        padding: 1px;
                        text-align: center;
                        background-color: rgb(213, 218, 218);
                        .tarejtas img{
                            width: 100%;
                        }                    
                    }
                }
            }
        }
    }

    .encabezado{
        width: 100%;
        height: 100px;
        .encabezado__lista{
            list-style: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 10px;
            font-style: italic;
            margin: 1px;
            padding: 1px;
            text-align: center;
            background-color: rgb(213, 218, 218);
        }
    }

    .hero{
        .ferre h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-style: italic;
            text-align: center;
            .ferre h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-style: italic;
                text-align: center;
                .ferre p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-style: italic;
                }
            }
        }
    }
    }