@media screen and (max-width:990px) {
    .grid{
        width: 100%;
        /*margin: 0;*/
        display: grid;
        grid-template-rows: 60px 530px 270px 220px 300px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "nav nav"
        "header header"
        "aside aside"
        "main main"
        "footer footer"
        ;
    }

    .frente{
        width: 100%;
        height: 340px;
        .frente img{
            width: 100%;
            height: 370px;
        }
    }

    .aside img{
        width: 100%;
        height: 250px;
    }

    .ferre h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: italic;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
        .ferre h3{
            font-family: 'Montserrat', sans-serif;
            font-size: 25px;
            font-style: italic;
            text-decoration: none;
            text-align: center;
            color: black;
            padding: 10px;
        }
    
        .ferre p{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            text-decoration: none;
            text-align: center;
            color: black;
            padding: 10px;
        }
    }

    .encabezado__lista{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        margin: 1px;
        padding: 1px;
        text-align: center;
        background-color: rgb(213, 218, 218);
    }

    .tarejtas img{
        width: 100px;
        height: 80px;
        display: flex;
        align-items: center;
    }


    .navegacion{
        list-style-position: inside;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        display:inline;
        margin: 5px;
        padding: 5px;
        background-color: rgb(213, 218, 218);
    }
    
    footer div h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
        .footer{
            width: 100%;
            height: 300px;
            background-color: rgb(213, 218, 218);
        }
        
    }
}

@media screen and (max-width:850px){

    .frente__productos{
        width: 100%;
        height: 200px;
    }

    .encabezado__lista{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        margin: 1px;
        padding: 1px;
        text-align: center;
        background-color: rgb(213, 218, 218);
    }

    .ferre h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
        .ferre h3{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            width: 100;
            text-decoration: none;
            text-align: center;
            color: black;
            padding: 10px;
        }
    }

    .tarejtas img{
        width: 100%;   
    }

    .piedepagina{
        height: 90px;
        .piedepagina img{
            height: 60px;
        }
    }

    .navegacion{
        list-style-position: inside;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        display:inline;
        margin: 5px;
        padding: 5px;
        background-color: rgb(213, 218, 218);
    }
    
    footer div h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
        .footer{
            width: 100%;
            background-color: rgb(213, 218, 218);
        }
    }
}

@media screen and (max-width:550px){
    .grid{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-rows: 60px 550px 270px 220px 300px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "nav nav"
        "header header"
        "aside aside"
        "main main"
        "footer footer"
        ;
    }

    .frente{
        width: 100%;
        height: 340px;
        .frente img{
            width: 100%;
            height: 350px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .frente__productos{
                width: 100%;
                height: 200px;
            }
        }
    }

    .encabezado{
        width: 100%;
        height: 100px;
        list-style:none;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        padding: 5px;
        width: 100%;
        height: 200px;
        background-color: rgb(213, 218, 218);
        text-align: center;
        .encabezado__lista li{
            display: inline;
            margin: 10px 10px 10px 10px;
            .encabezado__lista a{
                text-decoration:none;
                color: black;
                .encabezado__lista{
                    background-color: rgb(213, 218, 218)
                }
            }
        }
    }
    
    .ferre h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
        .ferre h3{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            width: 100;
            text-decoration: none;
            text-align: center;
            color: black;
            padding: 10px;
        }
    }

    .footer{
        width: 100%;
        height: 250;
        background-color: rgb(213, 218, 218);
        footer div h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            width: 100;
            text-decoration: none;
            text-align: center;
            color: black;
            padding: 10px;
            .navegacion{
                list-style-position: inside;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: italic;
                display:inline;
                margin: 5px;
                padding: 5px;
                background-color: rgb(213, 218, 218);
                .tarejtas img{
                    width: 100%;
                }
            }
        }
    }

    .aside{
        width: 100%;
    }
}
@media screen and (max-width:380px){
    .grid{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-rows: 60px 580px 250px 220px 100px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "header"
        "aside"
        "footer"
        
    }

    .frente{
        width: 100%;
        height: 355px;
        .frente img{
            width: 100%;
            height: 350px;
            padding: 5px;
            .frente__productos{
                width: 100%;
                height: 200px;
            }
        }
    }
    
    .carro{
        display: none;
    }
    
    .aside{
        width: 100%;
        height: 300px;
    }
    
    footer div h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: italic;
        width: 100;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 10px;
        .footer{
            height: 250px;
            background-color: rgb(213, 218, 218);
            .piedepagina{
                height: 90px;
                .piedepagina img{
                    height: 60px;
                    .navegacion__lista{
                        list-style: none;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        font-style: italic;
                        margin: 1px;
                        padding: 1px;
                        text-align: center;
                        background-color: rgb(213, 218, 218);
                        .tarejtas img{
                            width: 100%;
                        }                    
                    }
                }
            }
        }
    }

    .encabezado{
        width: 100%;
        height: 100px;
        .encabezado__lista{
            list-style: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: italic;
            margin: 1px;
            padding: 1px;
            text-align: center;
            background-color: rgb(213, 218, 218);
        }
    }

    .ferre h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-style: italic;
        text-align: center;
        .ferre h3{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-style: italic;
            text-align: center;
            .ferre p{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: italic;
            }
        }
    }
}